<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <div ng-if="isSignedIn()" class="navbar-brand">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        {{currentUser.username}}
      </div>

      <ul class="nav navbar-nav navbar-right">
        <button
          type="button"
          class="btn btn-default navbar-btn"
          ng-if="isSignedIn()"
          ng-click="signOut()"
        >
          Sign out
        </button>
        <a
          type="button"
          class="btn btn-default navbar-btn"
          ng-if="!isSignedIn()"
          ng-click="signIn()"
        >
          Sign in
        </a>
        <a
          type="button"
          class="btn btn-default navbar-btn"
          ng-if="!isSignedIn()"
          ng-click="signUp()"
        >
          Sign up
        </a>
      </ul>
    </div>
  </div>
</nav>
